
<div class="user-wrapper">
<div class="container">
<div class="heading">
<h2>ユーザー情報</h2>
</div>


<!-- items item item-info item-name area -->

<div class="user-profile clearfix">
<div class="user-p-area">
<div class="img-user">
<div class="pf-img">
<%# binding.pry %>
<%= image_tag @user.usericon_url %></div>
</div>

<div class="user-data">

<div class="user-n">
<p><%= @user.username %></p>
</div>


<div class="user-adress1">
<p><%= @user.useraddress1 %></p>
</div>

<div class="user-adress2">
<p><%= @user.useraddress2 %></p>
</div>

<div class="user-sns">
<a href="" class="user-facebook">
<span class="fa fa-facebook"></span>
</a>
</div>

</div>
</div>

<div class="user-message">
<p><%= @user.usermessage %>
</p>

</div>

<%#= form_for(@locations, url: nearby_locations_path, html: {method: "post"}) do |f| %>
	<%#= f.hidden_field :latitude %>
	<%#= f.hidden_field :longitude %>
	<%#= f.submit '現在地から近いレコードを検索' %>
	<%#= javascript_include_tag 'javascript/application'%>
	<%# end %>


</div>

</div>
</div>

<div class="list-wrapper">
<div class="container">
<div class="heading">
<h2>シェアできるアイテムリスト</h2>
</div>
<% page_entries_info @items %>

<% @items.each do |item| %>
<%= link_to item_path(item.id) do %>
<div class="items clearfix">
<div class="item">
 <div class="itemsid item img ">
 <%= image_tag item.picture if item.picture.present? %>
 </div>
<p class="item-info">
<span class="item-name">
	<%= item.name %>
</span><br>
<span class="area">
	<%= item.user.useraddress1 %><br><%= item.user.useraddress2 %>
</span>
</p>
<div class="like-btn-sm">
<%= link_to "お気に入り", item_favorites_path(item), method: :post %>
</div>
</div>
</div>
<% end %>
<% end %>


<div class="container">
<div class="bottom">
<!-- <a href="#" class="btn-lg">続きを見る</a> -->

<%= paginate @items, outer_window: 5 %>
</div>
</div>

</div>
</div>
