<div class="login-wrapper">
<div class="container">
   <div class="heading">
<h2>ログイン</h2>
</div>

<div class="heading-signup">
 <h2>アカウントをお持ちでない方はこちら</h2>
 <div class="signup btn-lg">
 <%= link_to "新規登録", new_user_registration_path %>
</div>
</div>

<!--  <div class="new-account">
  <a href="signup.html" class="btn-lg signup">新規登録</a>
 </div>
  </div> -->
<div class="sigin-field">
<div class="sigin-mail">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field"><!-- <p>メールアドレスでログイン</p> -->
    <%= f.label :email ,"メールアドレス"%><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード"%><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <div class="forget-pass">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "パスワードをお忘れですか?", new_password_path(resource_name) %><br />
    <% end -%>
    </div>


  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
    <div class="remember">
      <%= f.check_box :remember_me, class:'remember-box' %>
      <%= f.label :remember_me ,"ログイン情報を記憶しますか？", class:'remember-text' %>
      </div>
    </div>
  <% end -%>

  <div class="action">
    <%= f.submit "ログイン" ,class:'signup-btn submit-btn'%>
  </div>


</div>
<% end %>


<div>
<%= link_to "Facebookでログイン",user_facebook_omniauth_authorize_path, class:'btn-lg facebook' %>
</div>


</div>
</div>
<!-- <div class="login-btn">
      <input type="submit" class="btn-lg"  value="ログイン">
      </div> -->









