<div class="list-wrapper">
<div class="container">
<div class="heading">
<h2>シェアできるアイテムリスト</h2>
</div>



<%# if relationship.accept == true %>
<% page_entries_info @items %>
<% @items.each do |item| %>

	<%# unless item.user_id == current_user.try(:id) %>

		<% unless item.relationships.where(accept: true).present? %>

			<% unless item.user_id == current_user.try(:id) %>
				<%= link_to item_path(item.id) do %>
					<div class="items clearfix">
					<div class="item">
					 <div class="itemsid item img ">
					 <%= image_tag item.picture if item.picture.present? %>
					 </div>
					<p class="item-info">
					<span class="item-name">
						<i class="fa fa-tag" aria-hidden="true"> <%= item.name %></i>
					</span><br>
					<span class="area">
					<%# binding.pry %>
						<i class="fa fa-map-marker" aria-hidden="true"> <%= item.user.useraddress1 %></i><br>
						<i class="fa fa-map-marker" aria-hidden="true"> <%= item.user.useraddress2 %></i>
					</span>
					</p>
					<div class="like-btn-sm">
					<%= link_to "お気に入り", item_favorites_path(item), method: :post %>
					</div>
					</div>
					</div>
	           <% end %>
	           <% else %>
					<%= link_to shareditem_path(item.id) do %>
						<div class="items clearfix">
							<div class="item">
		 						<div class="itemsid item img ">
		 							<%= image_tag item.picture if item.picture.present? %>
		 						</div>
									<p class="item-info">
										<span class="item-name">
										<%= item.name %>
										</span><br>
											<span class="area">
											<%= item.user.useraddress1 %><br><%= item.user.useraddress2 %>
											</span>
									</p>
		<!-- <div class="like-btn-sm"> -->
		<%#= link_to "お気に入り", item_favorites_path(item), method: :post %>
		<!-- </div> -->
							</div>
						</div>
				<% end %>
		<% end %>
		
		<% else %>


			<div class="items clearfix">
			<div class="item">
			 <div class="itemsid item img soldout">
			 <%= image_tag item.picture if item.picture.present? %>
			 <h3>シェア成立</h3>
			 </div>
			<p class="item-info">
			<span class="item-name">
				<i class="fa fa-tag" aria-hidden="true"> <%= item.name %></i>
			</span><br>
			<span class="area">
			<%# binding.pry %>
				<i class="fa fa-map-marker" aria-hidden="true"> <%= item.user.useraddress1 %></i><br>
				<i class="fa fa-map-marker" aria-hidden="true"> <%= item.user.useraddress2 %></i>
			</span>
			</p>
			<!-- <div class="like-btn-sm"> -->
			<%#= link_to "お気に入り", item_favorites_path(item), method: :post %>
			<!-- </div> -->
			</div>
			</div>
		<% end %>
		
		


<% end %>
<%# end %>







<div class="container">
<div class="bottom">
<!-- <a href="#" class="btn-lg">続きを見る</a> -->
<%= paginate @items, outer_window: 5 %>
</div>
</div>

</div>
</div>




<%# end %>
