<div class="list-wrapper">
<div class="container">
<div class="heading">
<h2>レンタルできるアイテムリスト</h2>
</div>


<% page_entries_info @items %>


<% @items.each do |item| %>
<%= link_to item_path(item.id) do %>
<div class="items clearfix">
<div class="item">
 <div class="itemsid item img ">
 <%= image_tag item.picture if item.picture.present? %>
 </div>
<p class="item-info">
<span class="item-name">
	<%= item.name %>
</span><br>
<span class="area">
	<%= item.user.useraddress1 %><br><%= item.user.useraddress2 %>
</span>
</p>
<div class="like-btn-sm">
<%= link_to "お気に入り", item_favorites_path(item), method: :post %>
</div>
</div>
</div>
<% end %>
<% end %>








<div class="container">
<div class="bottom">
<!-- <a href="#" class="btn-lg">続きを見る</a> -->
<%= paginate @items, outer_window: 5 %>
</div>
</div>


</div>
</div>



<!-- <div class="items">
<a href="item.html" class="item">
<div class="item5"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item6"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item7"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item8"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>


<div class="items">
<a href="item.html" class="item">
<div class="item9"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item10"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item11"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item12"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>


<div class="items">
<a href="item.html" class="item">
<div class="buy13"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item14"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item15"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item16"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

</div>


<div class="items">
<a href="item.html" class="item">
<div class="item17"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item18"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item19"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a>

<a href="item.html" class="item">
<div class="item20"><img src="img/babycar.jpg"></div>
<p class="item-info"><span class="item-name">ベビーカー</span><br><span class="area">東京都<br>目黒区</span></p>
</a> -->

<!-- </div> -->



