
<div class="top-wrapper">
  <div class="container">
    <div class="title">
      <div class="title-container">
        <h1>使ってないないモノはありませんか？</h1>
        <h2>近くの人とモノをシェアしましょう</h2>

        <div class="head-btns">
        <div class="top-wrapper-btn1">
      <div class="btn-sm">
        <%= link_to "シェアする", new_item_path %>
      </div>
      </div>

      <div class="top-wrapper-btn">
      <div class="btn-sm">
        <%= link_to "リストを見る", items_path %>
      </div>
      <div class="btn-sm">
      <%= link_to "リクエストをする", new_request_path %>
      </div>
    </div>
    </div>

    </div>
  </div>
</div>
  </div>




<div class="step-wrapper">
<div class="container">
<h1>ご利用Step</h1>
<div class="step-items clearfix">
  <div class="step-item">
  <div class="step-icon">
  <div class="step">
  <i class="fa fa-check-square" aria-hidden="true"></i>
  <p class="step-title">Step1</p> 
  <p>登録する</p>
  </div>
  </div>
  <div class="text-contents">
  <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
  </div>
  </div>

  <div class="step-item">
  <div class="step-icon">
  <div class="step">
  <i class="fa fa-comments" aria-hidden="true"></i>
  <p class="step-title">Step2</p>
  <p> 借りたいモノを検索 / リクエスト</p>
  <p> 貸したいモノをシェア</p>
  </div>
  </div>
  <div class="text-contents">
  <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
  </div>
  </div>

  <div class="step-item">
  <div class="step-icon">
  <div class="step">
  <i class="fa fa-users" aria-hidden="true"></i>
  <p class="step-title">Step3</p> 
  <p>持ち主と人と条件の交渉をする</p>
  </div>
  </div>
  <div class="text-contents">
  <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
  </div>
  </div>


  <div class="step-item">
  <div class="step-icon">
  <div class="step">
  <i class="fa fa-share-alt" aria-hidden="true"></i>
  <p class="step-title">Step4</p> 
  <p>借りたいモノが届く</p>
  </div>
  </div>
  <div class="text-contents">
  <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
  </div>
  </div>
  
  <div class="step-item">
  <div class="step-icon">
  <div class="step">
  <i class="fa fa-undo" aria-hidden="true"></i>
  <p class="step-title">Step5</p> 
  <p>借りたモノを返却する</p>
  </div>
  </div>
  <div class="text-contents">
  <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>



<div class="message-wrapper">
  <div class="container">
    <div class="heading">
      <h1>Share <span class="logo-color">LIST</span>.<span class="logo-color">.</span>.</h1>
      <h2>使ってないないモノをシェアしましょう</h2>
    </div>

    <div class="message-wrapper-btn1">
      <div class="btn-lg">
         <%= link_to "シェアする", new_item_path %>
      </div>
      </div>


    <div class="btn-container">
      <div class="btn-lg">
         <%= link_to "リストを見る", items_path %>
      </div>
      <div class="btn-lg">
        <%= link_to "リクエストをする", new_request_path %>
      </div>
    </div>

  </div>
</div>
